-Dstyle.color=always
--batch-mode
--settings=C:\udi\kie-tools\packages\maven-base\settings.xml
-Drevision=0.0.0
-Dmaven.repo.local.tail=C:\udi\kie-tools\examples\rpb124\dist\1st-party-m2\repository,C:\udi\kie-tools\packages\jbpm-quarkus-devui\dist\1st-party-m2\repository,C:\udi\kie-tools\packages\maven-base\dist\1st-party-m2\repository
